# Course Files to be Ignored by git #
######################################
2019-ADCS-Syllabus.pdf
Development Exercises/*.pdf
Labs/*.docx
Labs/*.pdf
Labs/*.pptx
Lectures/
Readings/
Summaries/*.docx
Summaries/*.pdf


